<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Output Management</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="main">
            <app></app>
            <!-- <span v-if="seen"> seen is true condition content </span> -->

            <!-- content 数据模型的 绑定方式 -->
            <!-- {{ content }}
            <p></p>
            <input v-model="content">
            <p></p>
            <button v-on:click="btn_click"> content revert </button> -->

            <!-- template install list content -->
            <!-- <ol>
                <todo-item 
                v-for="item in todoList"
                v-bind:todo='item'
                v-bind:key='item.id'
                ></todo-item>
            </ol> -->
        </div>
        <script src="./dist/vue.js"></script>
    </body>
</html>